* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  /* background-color: #0b0f29; */
  font-family: Arial, sans-serif;
}
#root{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.quiz-container {
  width: 80%;
  max-width: 600px;
  background-color: #131b43;
  /* border: 2px solid #0df3ff; */
  border-radius: 20px;
  padding: 20px;
  text-align: center;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.question-header {
  background-color: #0df3ff;
  border-radius: 10px 10px 0 0;
  padding: 10px;
  
}

.question-header h2 {
  color: #fff;
  font-size: 24px;
}

.question-box {
  background-color: #0b1530;
  border: 2px solid #0df3ff;
  border-radius: 15px;
  margin: 20px 0;
  padding: 20px;
  color: #fff;
}

.answer-options {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 15px;
}

.option {
  background-color: #0b1530;
  border: 2px solid #0df3ff;
  border-radius: 10px;
  padding: 15px;
  color: #fff;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.option:hover {
  /* background-color: #0df3ff; */
  /* color: #0b1530; */
}

/******************* CategorizeApp page *********************/
.category-container{
  border: 1px solid black;
  padding: 50px 30px 50px 50px;
  border-radius:15px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

label{
  /* font-family:; */
  font-size: large;
  /* margin-bottom: ; */
}

.input, .selector, .button{
  height: 30px;
  width: 90%;
  cursor: pointer;
  border-radius: 5px;
  /* border: none; */
}
